.main-content-reverse {
    border: 1px solid rgba(0, 0, 0, 0.411);
    padding: 1rem;
    border-radius: 1rem;
    display: flex;
    gap: 0.5rem;
    margin: 1rem 0;
    /* flex-wrap: wrap; */
  }
  
  .blogImgreverse {
    border: 1px solid rgba(0, 0, 0, 0.411);
    min-width: 20%;
    flex-shrink: 0;
  }
  
  .blogTextreverse {
    border: 1px solid rgba(0, 0, 0, 0.411);
    flex-grow: 1;
  }
  
  /* Mobile view */
  @media (max-width: 600px) {
    .main-content-reverse {
      flex-direction: column-reverse;
      align-items: center;
    }
  
    .blogImgreverse {
      min-width: 100%;
      max-width: 100%;
    }
  
    .blogTextreverse {
      width: 100%;
    }
  }
  
  .userDetailreverse {
    display: flex;
    justify-content: space-between;
  }
  