.main-content {
  display: flex;
  flex-direction: column;
  background: #fff;
  border-radius: 10px;
  border: 1px solid #f2f2f2;
}

.main-content:hover {
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.1);
}

.blogImg {
  padding: 0.5rem 0.5rem 0 0.5rem;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
}

.blogImg img {
  width: 100%;
  object-fit: cover;
  border-radius: 10px;
}

.blog-content {
  flex: 1; /* Take up the remaining space */
  display: flex;
  flex-direction: column;
}

.blogTitle {
  padding: 0 0.5rem;
}

.blogTitle h2 {
  text-align: left;
}

.blogText-container {
  flex: 1;
  padding: 0 0.5rem;
}

.blogText {
  margin-top: 0;
  font-size: 20px;
  font-weight: 400;
  line-height: 32px;
}

.view-more {
  padding-left: 20px;
  margin-left: auto;
  cursor: pointer;
  text-decoration: underline;
  font-size: 20px;
  font-weight: 400;
  line-height: 32px;
}

.userDetail {
  display: flex;
  justify-content: space-between;
  border-bottom-right-radius: 10px;
  padding: 0.5rem;
  background: #fff;
  border-bottom-left-radius: 10px;
}

.CardUserName {
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
}

.postTime {
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  align-self: center;
}

.blog-content-popup {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5); /* Semi-transparent background */
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}

.header-blog-content {
  background: #fff;
  border-radius: 8px;
  width: 80%;
  max-width: 600px;
  max-height: 80%;
  overflow-y: auto; /* Ensure scrolling if content overflows */
  position: relative;
}

.header {
  position: sticky;
  top: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: #fff;
  padding: 0 1rem;
  border-bottom: 1px solid #f2f2f2;
}

.header h3 {
  margin-top: 0;
  margin: 0;
}

.close-btn {
  font-size: 40px;
  font-weight: bold;
  cursor: pointer;
  padding: 0.25rem;
}

.blog-content-popup .blog-content p {
  padding: 1rem;
  overflow: hidden;
  height: 100%;
  margin-top: 0;
  font-size: 20px;
  font-weight: 400;
  line-height: 32px;
}
