<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <style>
      .container {
        display: grid;
        gap: 2rem;
        grid-template-columns: repeat(auto-fit, minmax(200px, auto));
        padding: 2rem;
      }
      .container div {
        background-color: #f4f4f4;
        padding: 16px;
        box-sizing: border-box;
      }

      p {
        font-size: 14px;
      }
    </style>
  </head>
  <body>
    <div class="container">
      <div class="childA">
        <p>
          Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce gravida
          venenatis dignissim. Nulla lobortis vestibulum tortor et ornare. Sed
          sit amet odio nec eros interdum tincidunt imperdiet ut velit. Sed non
          urna in urna convallis faucibus nec tristique massa. Vestibulum ante
          ipsum primis in faucibus orci luctus et ultrices posuere cubilia
          curae; Nulla congue est ut eros imperdiet fermentum. Aenean viverra
          tincidunt diam vel dignissim. Vestibulum nec ornare urna. Suspendisse
          at gravida felis. Ut iaculis commodo augue, eu auctor eros scelerisque
          ut.
        </p>
      </div>
      <div class="childB">
        <p>
          Duis eleifend mi in leo feugiat, eget porta nibh convallis. Maecenas
          cursus elementum urna, non aliquam diam tincidunt malesuada. Etiam et
          dolor aliquet, congue mauris eget, posuere turpis. Sed blandit quam
          ex, sed mollis eros semper vel. Aliquam pulvinar, est ut ullamcorper
          feugiat, purus lectus convallis tortor, sit amet tempor diam dui vitae
          nunc. Etiam tempus sed libero et hendrerit. Nulla facilisi. In hac
          habitasse platea dictumst. Nullam luctus tincidunt odio non maximus.
          Class aptent taciti sociosqu ad litora torquent per conubia nostra,
          per inceptos himenaeos. Aliquam sagittis nec turpis eget dictum. Donec
          faucibus pretium turpis. Pellentesque mollis nisl eget pharetra
          laoreet.
        </p>
      </div>
      <div class="childC">
        <p>
          Aliquam pharetra eros in pharetra ullamcorper. Donec aliquet nulla
          turpis, sed fermentum nisi bibendum a. Etiam quis nisl vehicula,
          scelerisque ante eu, lacinia diam. Cras posuere finibus metus posuere
          sodales. Mauris et purus tellus. Vestibulum a ante ante. Donec aliquam
          enim ut arcu sagittis, non faucibus felis lacinia. Maecenas viverra
          scelerisque mauris, sit amet porta tellus hendrerit eget. Nullam
          lobortis magna ut eros pharetra porta. Nunc eu lectus magna. Praesent
          at auctor nibh, sit amet consectetur nunc.>
        </p>
      </div>
      <div class="childD">
        <p>
          Aenean condimentum non neque et volutpat. Mauris nec elit ut orci
          iaculis sagittis. In euismod eros et purus hendrerit accumsan. Vivamus
          fringilla vel leo vel semper. Vestibulum convallis elit ultrices metus
          blandit, sed eleifend purus lacinia. Interdum et malesuada fames ac
          ante ipsum primis in faucibus. Duis dictum eget nulla congue accumsan.
          Sed feugiat venenatis gravida. Sed ac condimentum risus, vitae aliquam
          ante. Donec iaculis mi est, sed porttitor arcu aliquam in. Integer
          semper blandit quam ut mollis. Nulla eget dapibus tellus. Cras ut nunc
          vel tortor rhoncus consequat. Donec placerat rhoncus dolor, nec varius
          neque rutrum vitae. Fusce efficitur mi ante, a aliquet magna mollis
          eu.
        </p>
      </div>
      <div class="childE">
        <p>
          Aenean dignissim ante et augue mollis, quis imperdiet lacus fringilla.
          Mauris quis lacus magna. Nulla at lectus mauris. Orci varius natoque
          penatibus et magnis dis parturient montes, nascetur ridiculus mus.
          Quisque tempor ultricies ipsum nec imperdiet. Aliquam viverra erat sit
          amet dapibus pharetra. Sed dictum, sapien at lobortis aliquam, nisi
          tellus vestibulum urna, nec vulputate metus arcu ac mi. Etiam auctor
          ipsum ligula, in dapibus urna rutrum non. Vivamus porta elit eu leo
          accumsan, ac porta tortor finibus. Morbi pellentesque auctor augue eu
          porttitor. Suspendisse volutpat sem eget cursus vulputate. Etiam
          sapien neque, elementum ac convallis ac, tincidunt et odio. Vestibulum
          tristique leo elementum felis suscipit facilisis. Maecenas nec sapien
          iaculis, imperdiet purus non, tempor diam. Duis malesuada est lacus,
          id condimentum justo viverra ac.
        </p>
      </div>
      <div class="childF">
        <p>
          Nullam molestie urna ut diam molestie tempus. Suspendisse suscipit
          consequat arcu a venenatis. Proin eget ante eu mi maximus fringilla.
          Mauris pretium mi sit amet urna tempor, at venenatis enim dapibus.
          Curabitur eget efficitur dui. Etiam sit amet auctor ipsum, sed lacinia
          mauris. In eu accumsan libero. Nullam ac dictum urna. Vestibulum a
          gravida tellus. Vivamus nec lobortis felis. Aenean eget varius leo.
          Cras est justo, porttitor sed justo eu, consequat sodales ex.
        </p>
      </div>
      <div class="childG">
        <p>
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Ipsum
          excepturi unde voluptate beatae itaque iusto pariatur voluptas? Vel
          totam in nihil voluptatum, nam accusantium quam quibusdam ducimus,
          magnam voluptatem doloremque atque. Voluptas tempore aut tempora,
          sint, placeat at non architecto ea repellendus labore maiores velit
          nobis quam aspernatur corrupti consequatur quis. Iusto, eveniet
          officiis. Iure aut voluptas porro, minima sapiente eveniet aliquam
          quisquam adipisci reprehenderit minus tempora non officiis
          necessitatibus ipsa aliquid. Ea, eligendi voluptates. Doloribus
          molestiae quo obcaecati, sint totam voluptas quae eveniet nostrum
          maiores iure! Ad, sequi odit! Iure animi est nulla voluptatem
          repellendus voluptatibus eius quasi placeat cum, similique corrupti,
          sapiente quam asperiores suscipit laboriosam quibusdam saepe eaque
          totam. Nesciunt eveniet at excepturi, adipisci eum ab quos
          perspiciatis voluptates vitae atque architecto facilis, blanditiis
          officiis deleniti veritatis expedita omnis magnam vero molestias
          tempora inventore labore dolorem. Quisquam eveniet modi aliquid beatae
          praesentium explicabo aperiam. Nesciunt saepe quibusdam nobis quam
          ipsam debitis aperiam maxime? Deleniti totam itaque tempora maxime
          aperiam, adipisci nostrum voluptatibus? Dolore temporibus veniam neque
          facere cum aliquid accusantium soluta obcaecati, exercitationem earum
          quia eum libero qui ab sunt omnis ex. Veniam accusamus dolore ipsam
          saepe temporibus sunt repellat perferendis eligendi vitae, sequi,
          reiciendis, assumenda incidunt!
        </p>
      </div>
      <div class="childH">
        <p>
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Ab quisquam
          maiores recusandae in ipsum non sunt ducimus error enim eveniet
          asperiores distinctio atque eos obcaecati quod quos provident numquam,
          voluptates ut ullam consectetur repudiandae consequatur. Possimus
          quibusdam magni sunt dolorem totam architecto minus tenetur
          perferendis tempore quae odio, eum tempora optio cupiditate laborum.
          Laudantium corrupti omnis aspernatur, ad animi quisquam dignissimos
          cupiditate pariatur. Amet eligendi dolorem quae odit, animi quod
          perspiciatis voluptate, neque omnis, cumque modi provident sapiente
          debitis nemo! Ipsam magnam expedita debitis eaque. Iste accusamus
          facere sint quia quasi, animi suscipit maxime, perspiciatis corporis
          sapiente libero deserunt minima mollitia error ad, ipsum eum alias
          iusto! Architecto laborum accusantium delectus, quos hic sint tempore
          totam labore cupiditate illo quidem facere culpa consectetur
          reiciendis modi vitae, optio ratione, illum libero quis natus facilis
          alias. Reiciendis hic, consequuntur blanditiis neque assumenda
          temporibus amet laborum vitae qui deserunt, culpa enim impedit veniam!
        </p>
      </div>
    </div>
  </body>
  <script>
    const numberOfChildren = 20; // Define the number of children to add
    const container = document.querySelector('.container'); // Select the container
  </script>
</html>
